<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allowPluginLinks</key>
	<true/>
	<key>bdToBookmarkAliasUpgrade</key>
	<true/>
	<key>createSpotlightIndex</key>
	<true/>
	<key>dbVersion</key>
	<string>7</string>
	<key>expectedPageCount</key>
	<integer>1</integer>
	<key>localWebAccess</key>
	<false/>
	<key>openWindows</key>
	<array>
		<dict>
			<key>displayUUID</key>
			<string>c44a6f05-a3f8-4419-9cc1-496b190a37dc</string>
			<key>drawerOpen</key>
			<false/>
			<key>openUUIDProperties</key>
			<array>
				<dict>
					<key>itemUUID</key>
					<string>c44a6f05-a3f8-4419-9cc1-496b190a37dc</string>
					<key>rulerVisible</key>
					<false/>
					<key>selectedRange</key>
					<string>{0, 2697}</string>
					<key>visibleGlyphs</key>
					<string>{1422, 1275}</string>
					<key>zoomScale</key>
					<real>1</real>
				</dict>
			</array>
			<key>windowFrame</key>
			<string>{{244, 129}, {1085, 710}}</string>
		</dict>
	</array>
	<key>skIndexVersion</key>
	<integer>7</integer>
	<key>updatedFMPageToRealUTIs</key>
	<true/>
	<key>updatedSpecialPages3</key>
	<true/>
	<key>uuid</key>
	<string>64c649ac-df72-485a-b379-79950e092095</string>
</dict>
</plist>
